.header{
    position: absolute;
    top: 5px;
    left: 8px;
    margin: auto;
    height: 100px;
    padding-top: 0px;
    font-size: 50px;
    font-family: 'Arial';
}

.list{
    margin: auto;
    padding-top: 50px;
    font-family: 'Arial';
}

.time{
    margin: auto;
    padding-top: 230px;
    font-family: 'Arial';
    color: #343741;
}

.backbtn{
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 200px;
    height: 40px;
    background: #343741;
    border: 2px solid #343741;
    color: white;
    font-size: 15px;
    font-family: 'Arial';
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}