
.book{
    position: absolute;
    top: 5px;
    left: 8px;
    margin: auto;
    height: 100px;
}

.similar{
    position: absolute;
    left: 8px;
    margin-top: 40px;
    height: 100px;
}

.book_title{
    text-align: left;
    font-size: 70px;
    font-family: Arial;
}

.graph{
    margin: auto;
    padding-left: 210px;
    width: 770px;
    height: 1000px;
}


.backbtn{
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 200px;
    height: 40px;
    background: #343741;
    border: 2px solid #343741;
    color: white;
    font-size: 15px;
    font-family: 'Arial';
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.algbtns{
    position: absolute;
    bottom: 10px;
}

.create{
    font-size: 40px;
    font-family: Arial;
    margin-bottom: 10px;
    margin-left: 2px;
}

.dfsbtn{
    width: 300px;
    height: 50px;
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Arial';
    background: #343741;
    border: 2px solid #343741;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.bfsbtn{
    margin-left: 10px;
    width: 310px;
    height: 50px;
    color: white;
    font-size: 25px;
    font-family: 'Arial';
    text-align: center;
    background: #343741;
    border: 2px solid #343741;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}